/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

article header h1 { font-size: 36px; line-height: 1.1; color: #000; }
article header p { font-size: 18px; }
article section { border-top: 1px solid #ccc; padding-top: 10px; }
article .section-hed { font-size: 18px; line-height: 1.1; font-weight: normal; text-transform: uppercase; color: #000; }

.graphic { position: relative; }
#slider { position: absolute; z-index: 10; top: 138px; width: 611px; }
#slider a { position: absolute; display: block; top: 0; height: 19px; width: 9px; background: url(../img/slider.png) no-repeat; }
.graphic h3 { font-size: 14px; text-transform: uppercase; font-weight: normal; color: #999; line-height: 1; }
#chart { height: 100px; margin-bottom: 10px; }
.highcharts-tooltip text tspan,
.highcharts-legend text { font-family: proxima-nova,sans-serif !important; font-size: 14px !important; }

.data table { width: 100%; }
.data thead th { font-size: 36px; line-height: 1.1; }
.data th { text-align: left; }
.data tbody td,
.data tbody th { width: 50%; }
.data tbody td { font-size: 24px; padding: 5px 0; }
.data tbody th { font-size: 14px; color: #999; }
.data .section th { padding: 20px 0 5px; border-bottom: 1px solid #ccc; font-size: 18px; text-transform: uppercase; color: #333; width: 100%; }
.data tbody .rate td { font-size: 42px; line-height: 1; }
.data a { width: 16px; height: 18px; display: inline-block; text-indent: -999em; background: url(../img/info-bug.png)no-repeat bottom; margin: 0; }

.profiles p { font-size: 14px; }
.profile img { float: left; margin: 0 10px 10px 0; }
.profile h3 { font-size: 18px; line-height: 1.1; text-decoration: none; margin: 0 0 5px 0; }
.profile h3 a { text-decoration: none; }
.profile p { font-size: 14px; line-height: 1.2; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}