html { margin: 0; }
body { font-family: proxima-nova; font-size: 16px; }
.si-nav { 
    background: transparent url(../img/nav-bg.png) repeat-x; 
    font-family: proxima-nova-extra-condensed; font-size: 18px;
    height: 50px; 
    line-height: 50px;
    margin-bottom: 0; 
    -webkit-font-smoothing: antialiased;
    overflow: visible;
    width: 100%; 
    margin: 0 auto 20px; 
    position: relative;
    z-index: 500;
  }
.si-nav h2 a, .logo a { 
    display: block; 
    margin: 0;
    background: url(../img/logo.png) no-repeat; 
    text-indent: -999em; 
    width: 192px; 
    height: 71px; 
    z-index: 500;
    position: absolute;
    top: -10px;
    left: 10px;
}
.si-nav h3, .si-nav h2 { margin: 0; }

.si-nav h3 a, .si-nav h3 a:hover, .si-nav h3 a:visited { 
    display: block; 
    float: left;  
    font: 400 32px/50px proxima-nova,sans-serif; 
    color: #fff; 
    text-decoration: none; 
    padding: 0 15px 0 200px; 
    margin: 0 0 0 10px; 
    border-right: 1px solid #444; 
    -webkit-box-shadow: 1px 0 0 #000;
       -moz-box-shadow: 1px 0 0 #000;
            box-shadow: 1px 0 0 #000;
}
.si-nav h1 { display: block; float: left; line-height: 50px; color: #fff; font-weight: 700; font-size: 32px; margin: 0 0 0 15px;  }



#overlay {
    display:none;
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: rgb(60,60,60) url(../img/modal-bg.png);
    background: rgba(60,60,60,.95) url(../img/modal-bg.png);
    z-index:98;
}
.modal { display:none; }
.modal .popup {
    background: #222;
    position: relative;
    top: 70px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    padding: 20px;
    z-index: 99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 400px;
    clear: both;
    margin: auto;
    overflow: hidden;
}

.modal .popup p {
    font: normal 14px/1.2 proxima-nova,sans-serif;
    margin-bottom: 1em;
    font-weight: 400;
    line-height: 1.3;
    color: #ccc;
}
.modal .popup h2 {
    color: white;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 8px;
    margin-top: 15px;
    text-transform: uppercase;
}
.modal a.close {
    background: transparent url(../img/sprite.png) no-repeat -220px -25px;
    width: 30px;
    height: 30px;
    display: block;
    text-indent: -999em;
    position: absolute;
    top:5px;
    right:5px;
}
#embed-ex-image img { 
    width: 200px; 
}
.modal input[type="text"] {
    background: #c0c0c0;
    color: #222;
    border: white 1px solid;
    padding: 2px;
    font-size: 90%;
    width: 90%;
    margin-bottom: 1em;
}
.modal input[type="text"].search {
    width: 180px;
}
.modal input[type="submit"] {
    background: #c0c0c0;
    color: #222;
    border: white 1px solid;
    padding: 2px;
    font-size: 90%;
    font-weight: 700;
    margin-bottom: 1em;
    position: relative;
    left: 5px;
}
.modal input[type="submit"]:active,
.modal input[type="submit"]:focus {
    top: 1px;
    background: #ccc;
    color: #444;
}
.modal input[type="submit"]:hover {
    color: #444;
    text-shadow: #eee 0 0 6px;
}
.col {
    float: left;
    width: 50%;
}

